<!DOCTYPE html>
<html lang="en">
<head>
<title>Services</title>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<link rel="icon" href="images/favicon.ico">
<link rel="shortcut icon" href="images/favicon.ico">
<link rel="stylesheet" href="css/stuck.css">
<link rel="stylesheet" href="css/style.css">
<script src="js/jquery.js"></script>
<script src="js/jquery-migrate-1.1.1.js"></script>
<script src="js/script.js"></script>
<script src="js/superfish.js"></script>
<script src="js/jquery.equalheights.js"></script>
<script src="js/jquery.mobilemenu.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/tmStickUp.js"></script>
<script src="js/jquery.ui.totop.js"></script>
<script>
 $(document).ready(function(){
  $().UItoTop({ easingType: 'easeOutQuart' });
  $('#stuck_container').tmStickUp({});
  });
</script>
<!--[if lt IE 9]>
 <div style=' clear: both; text-align:center; position: relative;'>
   <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
     <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
   </a>
</div>
<script src="js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="css/ie.css">
<![endif]-->
</head>
<body id="top">
<!--==============================
              header
=================================-->
<header>
<!--==============================
            Stuck menu
=================================-->
  <section id="stuck_container">
    <div class="container">
      <div class="row">
        <div class="grid_12">
        <h1>
          <a href="index.html">
            <img src="images/logo.png" alt="Logo alt">
          </a>
        </h1>
          <div class="navigation ">
            <nav>
              <ul class="sf-menu">
               <li><a href="index.html">About</a></li>
               <li class="current"><a href="index-1.html">Services</a></li>
               <li><a href="index-2.html">Portfolio</a></li>
               <li><a href="index-3.html">Blog</a></li>
               <li><a href="index-4.html">Contacts</a></li>
             </ul>
            </nav>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
<!--=====================
          Content
======================-->
<section class="content"><div class="ic">More Website Templates @ TemplateMonster.com - June 16, 2014!</div>
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3 class="ta__center">Main Services</h3>
      </div>
      <div class="grid_6">
        <div class="block1">
          <img src="images/page2_img1.jpg" alt="" class="img_inner fleft">
          <div class="extra_wrapper">
            <div class="text1"><a href="#">Quisque viverra</a></div>
            <p>Dipsum dolor sit ametconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto merto Integer convallis orcidet wertolo mono</p>
            Amertoloolaoreetatwertlim wernom vert Ipsum dolor sit amsecteturertolom  lid ber asrot gertoli moniko lomon dertlo
          </div>
        </div>
      </div>
      <div class="grid_6">
        <div class="block1">
          <img src="images/page2_img2.jpg" alt="" class="img_inner fleft">
          <div class="extra_wrapper">
            <div class="text1"><a href="#">Isque viverratte</a></div>
            <p>Sit ametconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto merto Integer convallis orcidet wertolo mono</p>
            Amertoloolaoreetatwertlim wernom vert Ipsum dolor sit amsecteturertolom  lid ber asrot gertoli moniko lomon
          </div>
        </div>
      </div>
      <div class="clear sep__2"></div>
      <div class="grid_6">
        <div class="block1">
          <img src="images/page2_img3.jpg" alt="" class="img_inner fleft">
          <div class="extra_wrapper">
            <div class="text1"><a href="#">Kuisque iverram</a></div>
            <p>Dolor sit ametconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto merto Integer convallis orcidet wertolo mono</p>
            Amertoloolaoreetatwertlim wernom vert Ipsum dolor sit amsecteturertolom  lid ber asrot gertoli moniko lomon dertl
          </div>
        </div>
      </div>
      <div class="grid_6">
        <div class="block1">
          <img src="images/page2_img4.jpg" alt="" class="img_inner fleft">
          <div class="extra_wrapper">
            <div class="text1"><a href="#">Kouisque erramer</a></div>
            <p>Mipsum dolor sit ametconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto merto Integer convallis orcidet wertolo mono</p>
            Amertoloolaoreetatwertlim wernom vert Ipsum dolor sit amsecteturertolom  lid ber asrot gertoli monikertloe
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear sep__1 sp__2"></div>
  <div class="container">
    <div class="row">
      <div class="grid_7">
        <h3>Custom Content Management</h3>
        <img src="images/page2_img5.jpg" alt="" class="img_inner fleft">
        <div class="extra_wrapper">
          <div class="text1"><a href="#">Lueiverra Mertolo Derto</a></div>
          <p>Asit ametconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto mertoInteger convallis orcidet wertolo mono</p>
          Amertoloolaoreetatwertlim wernom vertIpsum dolor sit amsecteturertolom  lid ber asrot gertoli moniko lomon
          <br>
          <a href="#" class="btn">more</a>
        </div>
        <div class="clear sep__3"></div>
        <img src="images/page2_img6.jpg" alt="" class="img_inner fleft">
        <div class="extra_wrapper">
          <div class="text1"><a href="#">Lueiverra Mertolo Derto</a></div>
          <p>Asit ametconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto mertoInteger convallis orcidet wertolo mono</p>
          Amertoloolaoreetatwertlim wernom vertIpsum dolor sit amsecteturertolom  lid ber asrot gertoli moniko lomon
          <br>
          <a href="#" class="btn">more</a>
        </div>
      </div>
      <div class="grid_4 preffix_1">
        <h3>Why Choose Us?</h3>
        <p>Besit ametconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto mertoInteger convallis orcidet wertolo monoter lom</p>
        <ul class="list color1">
          <li><a href="#">Besit ametconsecteturertolom  werto monikosit </a></li>
          <li><a href="#">Amet ultricies erateroli me rutruma auctorerttu </a></li>
          <li><a href="#">Terolp sadertto mertoInteger convawertolo  </a></li>
          <li><a href="#">Amertoloolaoreetatwertlim wernom fertolom </a></li>
          <li><a href="#">Dolor sit amsecteturertolom  lid be</a></li>
          <li><a href="#">Moniko lomon dertlosit amet ultricies erater </a></li>
          <li><a href="#">Rutruma auctorert retlomoni molokintromoli</a></li>
          <li><a href="#">Convallis orci vel mi laoreetat terolo </a></li>
        </ul>
        Fmetconsecteturertolom  werto monikosit amet ultricies erateroli me rutruma auctorerttu terolp sadertto mertoInteger convallis orcidet wertolo monoter
      </div>
    </div>
  </div>
</section>
<!--==============================
              footer
=================================-->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <div class="socials">
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-google-plus"></a>
          <a href="#" class="fa fa-youtube-play"></a>
        </div>
        <div class="copyright"><span class="brand">Web Design</span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a> <div>Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a></div>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>